<% layout('../doc.ejs') %>
<% block('title', padId) -%>
<% script('/js/etherpad.js') %>

<div class="pull-left">
    <p id="padhelpheader">
        <i class="icon-circle-arrow-right padhelparrows"></i>
        <i class="icon-circle-arrow-down padhelparrows" style="display:none"></i>
        <a id="alter" href="#">Quickguide: Wie schreibe ich hier Shownotes?</a>
    </p>
</div>

<div class="pull-right">
    <a href="/doc/<%=padId%>/readonly"><%= __('showdoc.readonlylink') %></a>
</div>

<div style="clear: both" id="padhelp">
    <div id="padhelptext">
        <p>Durch die Eingabe von <kbd>#</kbd><kbd>#</kbd><kbd>#</kbd> + <kbd>Leer</kbd> im ShowPad wird automatisch die aktuelle Laufzeit eingefügt.</p>
        <p>Sendungsnotizen sollten wie folgt aufgebaut sein:</p>
        <p><code>Zeit Information &lt;Link&gt; #Tag</code></p>
        <p>Ein Beispiel dafür wäre:</p>
        <p><code>3141592653 WOFF &lt;http://de.wikipedia.org/wiki/Web_Open_Font_Format&gt; #glossary</code></p>
        <p>Notwendig für eine Zeile Sendungsnotizen sind nur <b>Zeitangabe</b> und <b>Information</b>, optional kann ein Link und beliebig viele Tags angehängt werden.</p>
        <p>Weitere Informationen findest du im <a href="http://shownotes.github.io/OSF-in-a-Nutshell/#deutsch">„OSF in a Nutshell“-Guide</a>.</p>
    </div>
</div>

<script type="text/javascript">
// Quickguide toggle function    
$("#alter").click(function () 
    {
        $("#padhelptext").toggle(200);
        $(".padhelparrows").toggle(0);
    }
);
</script>

<div id="pad" style="clear: both;"></div>

<script type="text/javascript">
// show pad
$('#pad').pad(
    {
        'padId': '<%=groupID%>$<%=padId%>',
        'showControls': true,
        'showChat': true,
        'alwaysShowChat': true,
        'showLineNumbers': true,
        'host': '<%=eplurl%>',
        'height': ($(window).height() - 200) + "px",
        'width': '100%',
        "userName": '<%=user.username%>'
    });
</script>
