<% layout('layout.ejs') %>
<% block('title', __('dashboard')) -%>

<!-- DataTables -->
<% script('js/jquery.jeditable.mini.js') %>
<% script('js/jquery.dataTables.editable.js') %>
<% script('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js') %>
<% stylesheet('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css') %> 

<!-- ShowPad -->
<% stylesheet('css/dashboard.css') %>

<!-- Bootstrap-like select -->
<% script('js/bootstrap-select.min.js') %>
<% stylesheet('css/bootstrap-select.min.css') %> 

<% script('http://twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js') %>

<div id="tabs">
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#users" data-toggle="tab"><%= __('dashboard.users') %></a></li>
    <li><a href="#docs" data-toggle="tab"><%= __('dashboard.docs') %></a></li>
  </ul>
  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="users">
        <table id="usertable">
            <thead>
                <th><%= __('dashboard.users.name') %></th>
                <th><%= __('dashboard.users.email') %></th>
                <th><%= __('dashboard.users.role') %></th>
                <th><%= __('dashboard.users.status') %></th>
            </thead>
        </table>
    </div>
    <div class="tab-pane" id="docs">
        <table id="padtable">
            <thead>
                <th><%= __('dashboard.docs.name') %></th>
                <th><%= __('dashboard.docs.type') %></th>
            </thead>
        </table>
        <br>
        <div>
            <h3><%= __('dashboard.docs.create') %></h3>
            <div class="alert alert-error" id="create-error" style="display:none"></div>
            <div class="alert alert-success" id="create-success" style="display:none"><%= __('dashboard.docs.create.success') %></span></div>
            <div class="form-inline">
                <label class="control-label" for="docname"><%= __('dashboard.docs.create.name') %></label>
                <input type="text" id="docname" name="docname">

                <label class="control-label" for="doctype"><%= __('dashboard.docs.create.type') %></label>
                <select id="doctype" name="doctype" class="selectpicker">
                    <option value="etherpad">Etherpad</option>
                </select>
                
                <button class="btn primary" type="submit" id="create-doc"><%= __('dashboard.docs.create.submit') %></button>
            </div>
        </div>
    </div>
</div>

<script>
$('select').selectpicker();

$('#create-doc').click(function ()
{
    $.post('api/1/docs', { docname: $('#docname').val(), type: $('#doctype').val() })
        .done(function (res)
            {
                var doc = JSON.parse(res).data;
                padtable.fnAddData(
                    {
                        docname: doc.docname,
                        type: doc.type
                    });
                $('#create-success').show();
                $('#create-error').hide();
            })
        .fail(function (res)
            {
                var msg = JSON.parse(res.responseText).message;
                switch(msg)
                {
                    case "docexists":
                        $('#create-error').text("<%= __('dashboard.docs.create.error.exists') %>");
                        break;
                    default:
                        $('#create-error').text("<%= __('dashboard.docs.create.error.other') %>");
                        break;
                }
                $('#create-success').hide();
                $('#create-error').show();
            });
})

$.fn.dataTableExt.sErrMode = 'throw';

padtable = $('#padtable')
    .dataTable(
    {
        bProcessing: true,
        sAjaxSource: "/api/1/docs/?datatables=1",
        sAjaxDataProp: "data",
        aoColumns: [
          { mData: [ "docname" ] },
          { mData: [ "type" ] }
        ]
    });

usertable = $('#usertable');
usertable = usertable.dataTable(
    {
        bProcessing: true,
        sAjaxSource: "/api/1/users/?datatables=1",
        sAjaxDataProp: "data",
        aoColumns: [
          { mData: [ "username" ] },
          { mData: [ "email" ] },
          {
            mData: [ "roles" ],
            fnRender: function (oObj)
                {
                    var roles = oObj.aData.roles;
                    if(roles.indexOf('admin') != -1 || roles == "Admin")
                        return "Admin";
                    if(roles.indexOf('user') != -1 || roles == "User")
                        return "User";
                },
          },
          {
            mData: [ "status" ],
            fnRender: function (oObj)
                {
                    var status = oObj.aData.status;
                    status = status.charAt(0).toUpperCase() + status.slice(1);
                    return status;
                },
          }
        ]
    });

usertable.makeEditable(
    {
        sUpdateURL: updateUser,
        aoColumns:
        [
            null,
            null,
            {
                event: 'click',
                indicator: '<%= __("dashboard.users.selectrole") %>',
                loadtext: 'loading...',
                id: "userRole",
                type: 'select',
                onblur: 'submit',
                data: "{'admin':'Admin','user':'User'}"
            },
            {
                event: 'click',
                indicator: '<%= __("dashboard.users.selectstatus") %>',
                loadtext: 'loading...',
                id: "userStatus",
                type: 'select',
                onblur: 'submit',
                data: "{'banned':'Banned','email':'Email','normal':'Normal'}"
            }
        ]
    });

function updateUser(value, settings)
{
    // http://stackoverflow.com/questions/13316209/#13321785
    var rowId = usertable.fnGetPosition(this)[0];
    var rowName = settings.id;
    var username = usertable.fnGetData(rowId, 0);
    var returnValue = "<%= __('dashboard.users.error.update') %>";

    var data = {};

    if(rowName == "userRole")
    {
        data.roles = [ "user" ];
        if(value == "admin")
            data.roles.push("admin");
    }
    else if(rowName == "userStatus")
    {
        data.status = value;
    }

    var response = $.ajax(
        {
            type: "PUT",
            url: "/api/1/users/" + username,
            async: false,
            data: data
        }).success(function ()
        {
            // don't return an error
            returnValue = value;
        }).fail(function ()
        {
            // return an error later and reset the local value
            settings.onreset();
        });

    return returnValue;
}
</script>
 