<html>
    <head>
        <title>ShowPad</title>
        <!-- jQuery+jQueryUI -->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <script src="js/jquery.jeditable.mini.js"></script>
        <script src="js/jquery.dataTables.editable.js" type="text/javascript"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
        <!-- DataTables -->
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
        <!-- ShowPad -->
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    </head>
    <body>
        <div id="tabs">
          <ul>
            <li><a href="#tabs-users"><%= __('dashboard.users') %></a></li>
            <li><a href="#tabs-pads"><%= __('dashboard.docs') %></a></li>
          </ul>
          <div id="tabs-users">
            <table id="usertable">
                <thead>
                    <th><%= __('dashboard.users.name') %></th>
                    <th><%= __('dashboard.users.email') %></th>
                    <th><%= __('dashboard.users.role') %></th>
                </thead>
            </table>
          </div>
          <div id="tabs-pads">
            <table id="padtable"></table>
          </div>
        </div>
        <script>
            $('#tabs').tabs();

            $.fn.dataTableExt.sErrMode = 'throw';
            $('#usertable')
                .dataTable(
                {
                    "bProcessing": true,
                    "sAjaxSource": "/api/1/users/?datatables=1",
                    "sAjaxDataProp": "data",
                    "aoColumns": [
                      { "mData": [ "username" ] },
                      { "mData": [ "email" ] },
                      {
                        "mData": [ "roles" ],
                        "fnRender": function (oObj)
                            {
                                if(oObj.aData.roles["admin"] || oObj.aData.roles == "Admin")
                                    return "Admin";
                                if(oObj.aData.roles["user"] || oObj.aData.roles == "User")
                                    return "User";
                            },
                      }
                    ]
                })
                .makeEditable({
                    "sUpdateURL": '/api/1/users-dt/',
                    "aoColumns":
                    [
                        null,
                        null,
                        {
                            event: 'click',
                            indicator: '<%= __('dashboard.users.selectrole') %>',
                            loadtext: 'loading...',
                            type: 'select',
                            onblur: 'submit',
                            data: "{'admin':'Admin','user':'User'}"
                        }
                    ]
                });
            //$('#padtable').dataTable();
        </script>
    </body>
 </html>
 