<% layout('layout.ejs') %>

<% if ( err ) { %>
    <% block('title', docname) -%>
    <% if ( err == "readonly" ) { %>
        <% include doc_readonly %>
    <% } else { %>
        <span style="color:darkred"><%= __('showdoc.error') %>: <%= __('showdoc.error.' + err) %></span>
    <% } %>
<% } else { %>
    <div class="pull-left" id="docleftheader">
        <%- blocks.leftheader %>
    </div>
    <div class="pull-right" id="docrightheader">
        <%- blocks.rightheader %>
        <a href="<%=page%>/readonly"><%= __('showdoc.readonlylink') %></a>
    </div>
    <%- body %>
<% } %>
