<% layout('layout.ejs') %>
<% block('title', "Home") -%>
<% script('js/etherpad.js') %>

<h3><%= __('index.activedocs') %></h3>
<ul>
    <% for (var i = 0; i < docs.length; i++) {
       var date = new Date(docs[i].modified);
    %>
        <li>
            <a href="/doc/<%=docs[i].docname%>"><%=docs[i].docname%></a>
            (<%=__('index.docs.at')%> <%=pad(date.getDate())%>.<%=pad(date.getMonth())%>.<%=date.getFullYear()%>)
        </li>
    <% } %>
</ul>

<%
function pad(n) {
return (n < 10) ? ("0" + n) : n;
} %>
<br>
<!-- flattr -->
<script type="text/javascript">
    /* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
    /* ]]> */
</script>
<a class="FlattrButton" style="display:none;" href="http://pad.shownotes.org/"></a>
<noscript>
    <a href="http://flattr.com/thing/1225851/ShowPad" target="_blank">
        <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
        </a>
</noscript>
