<% layout('layout.ejs') %>
<% block('title', "Home") -%>
<% script('js/etherpad.js') %>

<h3><%= __('index.podcasts.header') %></h3>
<table class="table" id="newdoclist">
    <thead>
    <tr>
        <td><%= __('index.podcasts.podname') %></td>
        <td style="width:150px"><%= __('index.podcasts.starttime') %></td>
        <td style="width:100px"><%= __('index.podcasts.docname') %></td>
        <td style="width:150px"></td>
    </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < podcasts.length; i++) {
           var exists = podcasts[i].doc.exists;
        %>
            <tr>
                <td><%=podcasts[i].name%></td>
                <td>
                    <%= pad(podcasts[i].time.getHours())     + ":"  +
                        pad(podcasts[i].time.getMinutes())   + ", " +
                        pad(podcasts[i].time.getDate())      + "."  +
                        pad(podcasts[i].time.getMonth() + 1) + "."  +
                        (podcasts[i].time.getYear() + 1900) %>
                </td>
                <td>
                    <%= exists ? podcasts[i].doc.name : '' %>
                </td>
                <td class="<%= exists ? 'joindoc' : 'createdoc' %>">
                    <button class="btn btn-<%= exists ? 'info' : 'success' %>"
                            data-short="<%=podcasts[i].slug%>"
                            data-id="<%=podcasts[i].id%>">
                        <%= __('index.podcasts.button.' + (exists ? 'join' : 'create')) %>
                    </button>
                </td>
            </tr>
        <% } %>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2"><span class="pull-right"><%-__('index.podcasts.poweredby')%></span>            </td>
        </tr>
    </tbody>
</table>

<div id="createPadModal" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%-__('index.podcasts.create.title')%></h3>
    </div>
    <div class="modal-body">
        <p><%-__('index.podcasts.create.docname')%></p>
        <input id="createpadname" type="text" value="">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal"><%-__('index.podcasts.create.abort')%></button>
        <button class="btn btn-primary"><%-__('index.podcasts.create.create')%></button>
    </div>
</div>

<script>
    $('td.createdoc button').click(function (evt)
    {
        var btn = $(evt.target);
        var short = btn.data("short");
        var id = btn.data("id");

        $('#createpadname').val(short);
        $('#createPadModal').modal('show').on('shown',
            function ()
            {
                $('#createpadname').focus();
            }
        );
    });
</script>

<%
function pad(n) {
return (n < 10) ? ("0" + n) : n;
} %>
