<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-blocks.title %></title>
	
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- force jquery to be included as the very first. -->
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>

    <% stylesheet('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css') %>
    <% script('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js') %>
    <% stylesheet('/css/global.css') %>
    
    <%- stylesheets %>
    <%- scripts %>

    <!-- flattr -->
    <script type="text/javascript">
        /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
        /* ]]> */
    </script>
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<a class="brand" href="/">ShowPad</a>
			<div class="navbar-inner">
				<ul class="nav">
					<li><a href="/"><%= __('header.home') %></a></li>
					<% if (user) { %>
						<li><a href="/profile"><%= __('header.profile') %></a></li>
						<% if (user.hasRole("admin")) { %>
							<li><a href="/dashboard"><%= __('header.dashboard') %></a></li>
						<% } %>
		            <% } else { %>
                        <li><a href="/register"><%= __('header.register') %></a></li>
                        <li><a href="/login" class="visible-phone"><%= __('header.login') %></a></li>
		            <% } %>
				</ul>

				<% if (page != "/register" && page != "/login") { %>
				<% if (!user) { %>
					<form class="navbar-form pull-right hidden-phone" action="/login" method="POST">
		                <input type="text" name="username" class="span2" placeholder="<%= __('login.username') %>">
		                <input type="password" name="password" class="span2" placeholder="<%= __('login.password') %>">
		                <input type="submit" value="<%= __('login.login') %>" class="btn" />
		            </form>
	            <% } else { %>
					<form class="navbar-form pull-right" action="/logout" method="GET">
		                <input type="submit" value="<%= __('login.logout') %>" class="btn" />
		            </form>
	            <% } %>
	            <% } %>
			</div>
		</div>
		<div id="content" class="row-fluid">
			<div class="main">
				<h2 id="h2title"><%-blocks.title %></h2>
				<%- body %>
			</div>
		</div>
        <div id="footer">
            <div id="footerinfo" class="pull-left">
                <a href="http://github.com/shownotes/show-pad">ShowPad</a> ist ein Tool von <a href="http://shownot.es">Shownot.es</a>.
            </div>
            <div id="flattr" class="pull-right">
                <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;popout:0;" href="http://pad.shownotes.org/"></a>
                <noscript>
                    <a href="http://flattr.com/thing/1225851/ShowPad" target="_blank">
                        <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
                    </a>
                </noscript>
            </div>
        </div>
	</div>

	<!-- Menu -->
	<script>
$('.nav li').each(function (index, element)
{
	element = $(element);
	if(element.children('a').attr('href') == window.location.pathname)
		element.addClass('active');
});
	</script>
</body>
</html>
