<% layout('layout.ejs') %>
<% block('title', __('login')) -%>
<% script('js/jquery-queryParser.min.js') %>

<form method="POST" class="form-horizontal" id="login-form">
    <div class="alert alert-error" id="login-error" style="display:none">
    </div>
    <div class="control-group" id="grp-username">
        <label class="control-label" for="username"><%= __('login.username') %></label>
        <div class="controls">
            <input type="text" id="username" name="username">
        </div>
    </div>
    <div class="control-group" id="grp-password">
        <label class="control-label" for="password"><%= __('login.password') %></label>
        <div class="controls">
            <input type="password" id="password" name="password">
        </div>
    </div>
    <button class="btn primary pull-right" type="submit" id="login-submit"><%= __('login.login') %></button>
</form>

<script>
var error = $.getQuery().error;
var values = $.getQuery().values;

if(error)
{
    values = JSON.parse(values);

    switch(error)
    {
        // Account status:
        case "email":
            error = "<%= __('login.error.status.deactivated') %>";
            break;
        case "banned":
            error = "<%= __('login.error.status.banned') %>";
            break;
        case "unknown":
            error = "<%= __('login.error.status.unknown') %>";
            break;
        // Other:
        case "input":
            error = "<%= __('login.error.input') %>";
            break;
        case "pw":
            error = "<%= __('login.error.invalid') %>";
            break;
    }

    $('#login-error').text(error);
    $('#login-error').show();
    $('#username').val(values["username"]);
}
</script>