<% layout('layout.ejs') %>
<% block('title', __('login')) -%>
<% script('js/jquery-queryParser.min.js') %>

<form method="POST">
    <div class="alert alert-error" id="login-error" style="display:none">
    </div>
    <fieldset>
        <div class="clearfix">
            <input type="text" name="username" placeholder="<%= __('login.username') %>">
        </div>
        <div class="clearfix">
            <input type="password" name="password" placeholder="<%= __('login.password') %>">
        </div>
        <button class="btn primary" type="submit"><%= __('login.login') %></button>
    </fieldset>
</form>

<script>
var error = $.getQuery().error;
var values = $.getQuery().values;

if(error)
{
    values = JSON.parse(values);

    switch(error)
    {
        // Account status:
        case "email":
            error = "<%= __('login.error.status.deactivated') %>";
            break;
        case "banned":
            error = "<%= __('login.error.status.banned') %>";
            break;
        case "unknown":
            error = "<%= __('login.error.status.unknown') %>";
            break;
        // Other:
        case "input":
            error = "<%= __('login.error.input') %>";
            break;
        case "pw":
            error = "<%= __('login.error.invalid') %>";
            break;
    }

    $('#login-error').text(error);
    $('#login-error').show();
    $('#username').val(values["username"]);
}
</script>