<% layout('layout.ejs') %>
<% block('title', __('register')) -%>
<% script('js/jquery-queryParser.min.js') %>

<form method="POST" class="form-horizontal" id="register-form">
    <div class="alert alert-error" id="other-error" style="display:none">
    </div>
    <div class="control-group" id="grp-username">
        <label class="control-label" for="username"><%= __('register.username') %></label>
        <div class="controls">
            <input type="text" id="username" name="username">
            <span class="help-inline" id="help-username"></span>
        </div>
    </div>
    <div class="control-group" id="grp-email">
        <label class="control-label" for="email"><%= __('register.email') %></label>
        <div class="controls">
            <input type="text" id="email" name="email">
            <span class="help-inline" id="help-email" style="display:none">
                <%= __('register.error.invalidemail') %>
            </span>
        </div>
    </div>
    <div class="control-group" id="grp-password">
        <label class="control-label" for="password"><%= __('register.password') %></label>
        <div class="controls">
            <input type="password" id="password" name="password">
            <span class="help-inline" id="help-password"></span>
        </div>
    </div>
    <div class="control-group" id="grp-passwordr">
        <label class="control-label" for="passwordr"><%= __('register.passwordr') %></label>
        <div class="controls">
            <input type="password" id="passwordr" name="passwordr">
            <span class="help-inline" id="help-passwordr" style="display:none">
                <%= __('register.error.passwordmatch') %>
            </span>
        </div>
    </div>
    <button class="btn primary" type="submit" id="register-submit" disabled="disabled"><%= __('register.submit') %></button>
</form>

<script>
var errors = $.getQuery().errors;
var values = $.getQuery().values;

if(errors)
{
    errors = JSON.parse(errors);
    values = JSON.parse(values);

    for(var e in errors)
    {
        switch(errors[e])
        {
            case "username-invalid":
                $("#grp-username").addClass('error');
                break;
            case "email-invalid":
                $("#grp-email").addClass('error');
                $("#help-email").show();
                break;
            case "pw-invalid":
                $("#grp-password").addClass('error');
                break;
            case "pwr-invalid":
                $("#grp-passwordr").addClass('error');
                break;
            case "pw-match":
                $("#grp-passwordr").addClass('error');
                $("#help-passwordr").show();
                break;
            case "userexists":
                $("#grp-username").addClass('error');
                $("#help-username").text("<%= __('register.error.usernametaken') %>");
                break;
            case "email-error":
                $("#other-error").text("<%= __('register.error.email') %>");
                $("#other-error").show();
                break;
            case "other-error":
                $("#other-error").text("<%= __('register.error.other') %>");
                $("#other-error").show();
                break;
            case "speed":
                $("#other-error").text("<%= __('register.error.speed') %>");
                $("#other-error").show();
                break;
        }
    }

    for(var v in values)
    {
        $('#' + v).val(values[v]);
    }
}

$('#passwordr').keyup(function ()
    {
        if($('#passwordr').val() != $('#password').val() && $('#passwordr').val().length != 0)
        {
            $("#grp-passwordr").addClass('error');
            $("#help-passwordr").show();
            $('#register-submit').attr('disabled', 'disabled');
        }
        else
        {
            $("#grp-passwordr").removeClass('error');
            $("#help-passwordr").hide();
            if($('#passwordr').val().length != 0)
                $('#register-submit').removeAttr('disabled');
        }
    });
</script>
