<% layout('layout.ejs') %>
<% block('title', __('register')) -%>
<% script('js/jquery-queryParser.min.js') %>
<% script('js/formhelpers.js') %>

<form method="POST" class="form-horizontal" id="register-form">
    <div class="alert alert-error" id="other-error" style="display:none">
    </div>
    <div class="control-group" id="grp-username">
        <label class="control-label" for="username"><%= __('register.username') %></label>
        <div class="controls">
            <input type="text" id="username" name="username">
            <span class="help-inline" id="help-username"></span>
        </div>
    </div>
    <div class="control-group" id="grp-email">
        <label class="control-label" for="email"><%= __('register.email') %></label>
        <div class="controls">
            <input type="text" id="email" name="email">
            <span class="help-inline" id="help-email"></span>
        </div>
    </div>
    <div class="control-group" id="grp-password">
        <label class="control-label" for="password"><%= __('register.password') %></label>
        <div class="controls">
            <input type="password" id="password" name="password">
            <span class="help-inline" id="help-password"></span>
        </div>
    </div>
    <div class="control-group" id="grp-passwordr">
        <label class="control-label" for="passwordr"><%= __('register.passwordr') %></label>
        <div class="controls">
            <input type="password" id="passwordr" name="passwordr">
            <span class="help-inline" id="help-passwordr" style="display:none">
                <%= __('register.error.passwordmatch') %>
            </span>
        </div>
    </div>
    <% if ( captcha ) { %>
    <div class="control-group" id="grp-captcha">
        <script type="text/javascript">
            var RecaptchaOptions = { theme : 'clean' };
        </script>
        <div class="controls">
            <%- captcha %>
        </div>
    </div>
    <% } %>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button class="btn primary" type="submit" id="register-submit" disabled="disabled"><%= __('register.submit') %></button>
        </div>
    </div>
</form>

<script>
var errors = $.getQuery().errors;
var values = $.getQuery().values;

if(errors)
{
    errors = JSON.parse(errors);
    values = JSON.parse(values);

    for(var e in errors)
    {
        switch(errors[e])
        {
            case "username-invalid":
                $("#grp-username").addClass('error');
                break;
            case "email-invalid":
                $("#grp-email").addClass('error');
                $("#help-email").text("<%= __('register.error.invalidemail') %>");
                break;
            case "pw-invalid":
                $("#grp-password").addClass('error');
                break;
            case "pwr-invalid":
                $("#grp-passwordr").addClass('error');
                break;
            case "pw-match":
                $("#grp-passwordr").addClass('error');
                $("#help-passwordr").show();
                break;
            case "userexists":
                $("#grp-username").addClass('error');
                $("#help-username").text("<%= __('register.error.usernametaken') %>");
                break;
            case "emailexists":
                $("#grp-email").addClass('error');
                $("#help-email").text("<%= __('register.error.emailtaken') %>");
                break;
            case "email-error":
                $("#other-error").text("<%= __('register.error.email') %>");
                $("#other-error").show();
                break;
            case "other-error":
                $("#other-error").text("<%= __('register.error.other') %>");
                $("#other-error").show();
                break;
        }
    }

    for(var v in values)
    {
        $('#' + v).val(values[v]);
    }
}
repeatPassword($('#password'), $('#passwordr'), $("#grp-passwordr"), $("#help-passwordr"), $('#register-submit'));
</script>
